.project-list-div {
  width: 470px;
}

.projects-section {
  background-color: #FDF0E9;
}

.work-h5 {
  color: #EF6D58;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.making-h3 {
  color: var(#391400);
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}

.skills-text {
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.more-link {
  color: #391400;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.list-li {
  display: flex;
  align-items: center;
  gap: 33px;
}

.list-div {
  width: 500px;
}

.projects__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number-h2 {
  color: #391400;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -2px;
  padding: 0;
  margin: 0;
}

.number-h4 {
  color: var(#391400);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

@media only screen and (max-width: 951px) {
  .projects__container {
    display: block;
  }

  .project-list-div {
    margin: 0 auto;
  }

  .list-div {
    margin: 0 auto
  }

}

@media only screen and (max-width: 514px) {
  .making-h3 {
    color: #391400;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
  }

  .project-list-div {
    width: 329px;
  }

  .list-div {
    margin: 0 auto;
    width: 329px;
  }

}


@media only screen and (max-width: 427px) {
  .work-h5 {
    color: #EF6D58;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 3px;
  }

  .making-h3 {
    color: #391400;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
  }

  .skills-text {
    color: rgba(57, 20, 0, 0.64);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
}

@media only screen and (max-width: 387px) {
  .list-div {
    width: 257px;
    margin: 0 auto;
  }

  .number-h4 {
    width: 299px;
  }
}